# Database
MYSQL_DATABASE=realmer_wp
MYSQL_USER=realmer_user
MYSQL_PASSWORD=R3alm3r_S3cur3_2024!
MYSQL_ROOT_PASSWORD=R00t_R3alm3r_2024!

# WordPress
WORDPRESS_DB_HOST=db:3306
WORDPRESS_DB_NAME=realmer_wp
WORDPRESS_DB_USER=realmer_user
WORDPRESS_DB_PASSWORD=R3alm3r_S3cur3_2024!
